<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626936669727-73ivs09b8vqoau871d4ukuf2qc6vb553.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626936669727-73ivs09b8vqoau871d4ukuf2qc6vb553</string>
	<key>API_KEY</key>
	<string>AIzaSyDiGG6eIVJLaAErs1ZPLnyCnpedWsE4SJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>626936669727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitApp</string>
	<key>PROJECT_ID</key>
	<string>fitapp-af578</string>
	<key>STORAGE_BUCKET</key>
	<string>fitapp-af578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626936669727:ios:6b853e7baae4b69a82572a</string>
</dict>
</plist>